doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="/stylesheets/style.css")
    title Category Page
  body
    h1 Category: #{category.name}
    ul
      each post in posts
        li
          a(href=`/get_post/${profile.id}/${post.category_id}/${post.id}`) #{post.title}
    if isOwner
      form(action='/create_post', method='POST')
        input(type='hidden', name='categoryId', value=category.id)
        button(type='submit') Create New Post
