doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="/stylesheets/style.css")
    title Post Details
  body
    h1 Post Details
    if post
      div
        p Category: #{category.name}
        p Title: #{post.title}
        p Author: #{profile.nickname}
        p Created At: #{post.created_at}
        p Content: #{post.content}
        if post.tags
          p Tags: #{post.tags}
        else
          p No tag available

      if comments.length > 0
        h2 Comments
        ul
          each comment in comments
            li
              if !comment.is_secret || (comment.is_secret && isOwner) || (visitor && (comment.user_id == visitor.id))
                p Author: #{comment.author}, Created At: #{comment.created_at}, Content: #{comment.content}
              else
                p This Comment is Secret
      else
        p No comments available

      if visitor
        form(action='/add_comment', method='POST')
          input(type='hidden', name='postId', value=post.id)
          input(type='hidden', name='categoryId', value=category.id)
          label(for='content') Add Comment:
          textarea(id='content', name='content')
          label(for='isSecret') is Secret?:
          button(type='button', id='toggleButton', class='toggle-button') Public
          input(type='hidden', id='isSecret', name='isSecret', value='0')
          input(type='submit', value='Add Comment')
      else
        p Login to add comments
    else
      p Post not found

  script.
    const toggleButton = document.getElementById('toggleButton');
    const isSecretInput = document.getElementById('isSecret');

    toggleButton.addEventListener('click', function() {
      if (toggleButton.classList.contains('active')) {
        toggleButton.textContent = 'Public';
        toggleButton.classList.remove('active');
        isSecretInput.value = '0'; // Public
      } else {
        toggleButton.textContent = 'Secret';
        toggleButton.classList.add('active');
        isSecretInput.value = '1'; // Secret
      }
    });
