doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="/stylesheets/style.css")
    title User Page
    script.
      function confirmWithdrawal() {
        if (confirm("진짜 회원 탈퇴를 진행하시겠습니까?")) {
          location.href = '/withdrawal';
        }
      }
  body
    p #{user.name}님 안녕하세요!
    p Nickname: #{profile.nickname}
    if profile.pic
      img(src=`/profile/pic/${profile.id}?${Date.now()}`, alt="Profile Picture")
    else
      p No profile picture available
    p Profile Bio: #{profile.bio}
    p All Categories
    if categories.length > 0
      ul
        each category in categories
          li= category.name
    else
      p No category available
    p All Posts
    if posts.length > 0
      ul
        each post in posts
          a(href=`/get_post/${profile.id}/${post.category_id}/${post.id}`) #{post.title}
    else
      p No post available
    button(type='button', onclick="location.href='/logout'") Log Out
    button(type='button', onclick="location.href='/update_profile'") Update Profile
    button(type='button', onclick="confirmWithdrawal()") Withdrawal
